{% load wagtailimages_tags %}
<div class="container">
    <h2>{{ self.title }}</h2>
    <div id="car" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for item in self.items %}
                <li data-target="#car" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for item in self.items %}
                {% image item.image width-1600 as img %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <img class="d-block w-100" src="{{ img.url }}" alt="{{ img.alt }}">
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#car" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#car" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
      </div>
</div>
