{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
    {% image self.banner_image width-1600 as img %}
    <div class="hero-banner" style="background-image: url('{{ img.url }}');"></div>
    <div class="jumbotron">
        <h1 class="display-4">{{ self.banner_title }}</h1>
        <p class="lead">{{ self.banner_subtitle|richtext }}</p>
        <hr class="my-4">
        {% if self.banner_cta %}
            <a class="btn btn-primary btn-lg" href="{{ self.url }}" role="button">Learn more</a>
        {% endif %}
    </div>
{% endblock %}